annotated-types==0.5.0 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
pydantic-core==2.3.0 ; python_version >= "3.11" and python_version < "4.0"
pydantic==2.0.3 ; python_version >= "3.11" and python_version < "4.0"
tqdm==4.65.0 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.11" and python_version < "4.0"
