name: Build Docker

on:
  push:
    branches:
      - main
  release:
    types:
      - created

permissions:
  contents: read
  packages: write

env:
  VERSION: ${{ (github.event.release.tag_name != '' && github.event.release.tag_name) || '0.0.0' }}
  IMAGE_NAME: aoirint/matvtoolpy
  IMAGE_VERSION_NAME: ${{ (github.event.release.tag_name != '' && github.event.release.tag_name) || 'latest' }}
  PYTHON_VERSION: '3.11.8'

jobs:
  build-and-push-docker:
    strategy:
      max-parallel: 2
      fail-fast: false
      matrix:
        include:
          -
            docker_image_registry: 'ghcr.io'
            docker_cache_registry: 'ghcr.io'
            base_image: 'ubuntu:20.04'
            base_runtime_image: 'ubuntu:20.04'
            image_variant_name: 'ubuntu'
          -
            docker_image_registry: 'ghcr.io'
            docker_cache_registry: 'ghcr.io'
            base_image: 'ubuntu:20.04'
            base_runtime_image: 'nvcr.io/nvidia/driver:510-signed-ubuntu20.04'
            image_variant_name: 'nvidia'
          -
            docker_image_registry: 'docker.io'
            docker_cache_registry: 'ghcr.io'
            base_image: 'ubuntu:20.04'
            base_runtime_image: 'ubuntu:20.04'
            image_variant_name: 'ubuntu'
          -
            docker_image_registry: 'docker.io'
            docker_cache_registry: 'ghcr.io'
            base_image: 'ubuntu:20.04'
            base_runtime_image: 'nvcr.io/nvidia/driver:510-signed-ubuntu20.04'
            image_variant_name: 'nvidia'

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry (ghcr.io)
        uses: docker/login-action@v3
        with:
          registry: 'ghcr.io'
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker Hub (docker.io)
        uses: docker/login-action@v3
        with:
          registry: 'docker.io'
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Replace Version
        shell: bash
        run: |
          sed -i "s/__VERSION__ = \"0.0.0\"/__VERSION__ = \"${{ env.VERSION }}\"/" aoirint_matvtool/__init__.py
          sed -i "s/version = \"0.0.0\"/version = \"${{ env.VERSION }}\"/" pyproject.toml

      - name: Build and Deploy Docker image
        uses: docker/build-push-action@v5
        env:
          IMAGE_NAME_AND_TAG: ${{ format('{0}/{1}:{2}-{3}', matrix.docker_image_registry, env.IMAGE_NAME, matrix.image_variant_name, env.IMAGE_VERSION_NAME) }}
          LATEST_IMAGE_NAME_AND_TAG: ${{ format('{0}/{1}:{2}-{3}', matrix.docker_cache_registry, env.IMAGE_NAME, matrix.image_variant_name, 'latest') }}
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.IMAGE_NAME_AND_TAG }}
          build-args: |
            BASE_IMAGE=${{ matrix.base_image }}
            BASE_RUNTIME_IMAGE=${{ matrix.base_runtime_image }}
            PYTHON_VERSION=${{ env.PYTHON_VERSION }}
          target: runtime-env
          cache-from: |
            type=registry,ref=${{ env.IMAGE_NAME_AND_TAG }}-buildcache
            type=registry,ref=${{ env.LATEST_IMAGE_NAME_AND_TAG }}-buildcache
          cache-to: |
            type=registry,ref=${{ env.IMAGE_NAME_AND_TAG }}-buildcache,mode=max
